    
body {
    font-family: Arial, sans-serif;
    background-image: url('../img/scott-webb-UjupleczBOY-unsplash.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


